<h1>Наш Блог:</h1>
<% @post.each do |post| %>
<div class="card-deck">
  <div class="card">
  <div class="card-body">
  <h3 class="card-title"><%= post.title %></h3>
  <p class="card-text"><%= post.body %></p>
  <%= link_to "Читать далее", post_path(post), :class => 'btn btn-danger'%>
    </div>
  </div>
</div>
<% end %>