<% @post.each do |post| %>
<div class="card">
<div class="row g-0 position-relative" style="background-color:#f2f0f0;">
  <div class="col-md-6 mb-md-0 p-md-4">
    <!--<img src="https://kidpassage.com/images/publications/batumi-mae-otdyh-pogoda/batumi-mae-otdyh-pogoda-photo1_1205896319.jpg"  alt="...">-->

 <picture class="image"><%= image_tag post.image.url if post.image? %></picture>
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h2 class="mt-0"><%= post.title %></h2>
     <p style="font-size:20px;"><%= post.body %></p>
    <%= link_to "Читать далее", post_path(post), :class => 'btn btn-danger'%>
  </div>
</div>
</div>
<br>
<br>

<% end %>